nav {
    position: sticky;
    top: 0;
    background: hsl(0 0% 100%);
    z-index: 2;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


article{
    display: flex;
    flex-flow: row wrap;
}

article div {
    margin-left: 35%;
    margin-bottom: 10%;
}

#formular {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
