/***** Navigation ****/
nav > * {
    list-style: none;
    margin: 1.5rem;
    line-height: 1.5;
    gap: 0.8rem;
}

nav {
    position: sticky;
    top: 0;
    background: hsl(0 0% 100%);
    z-index: 2;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}